.box-block.box-bt
	h3 Availability
	p.help-text Which days of the festival are you able to attend? Availability beyond Friday &amp; Saturday will greatly increase your chances of being accepted into the festival.
	.form-group
		.custom-control.custom-checkbox
			input#available-tuesday.custom-control-input(
				type="checkbox" 
				value="tuesday" 
				name="available[]"
				checked=(submission['available'].includes('tuesday'))
			)
			label.custom-control-label(for="available-tuesday") Tuesday, August 28th
	.form-group
		.custom-control.custom-checkbox
			input#available-wednesday.custom-control-input(
				type="checkbox" 
				value="wednesday" 
				name="available[]"
				checked=(submission['available'].includes('wednesday'))
			)
			label.custom-control-label(for="available-wednesday") Wednesday, August 29th
	.form-group
		.custom-control.custom-checkbox
			input#available-thursday.custom-control-input(
				type="checkbox" 
				value="thursday" 
				name="available[]"
				checked=(submission['available'].includes('thursday'))
			)
			label.custom-control-label(for="available-thursday") Thursday, August 30th
	.form-group
		.custom-control.custom-checkbox
			input#available-friday.custom-control-input(
				type="checkbox" 
				value="friday" 
				name="available[]"
				checked=(submission['available'].includes('friday'))
			)
			label.custom-control-label(for="available-friday") Friday, August 31st
	.form-group
		.custom-control.custom-checkbox
			input#available-saturday.custom-control-input(
				type="checkbox" 
				value="saturday" 
				name="available[]"
				checked=(submission['available'].includes('saturday'))
			)
			label.custom-control-label(for="available-saturday") Saturday, September 1st
	.form-group
		.custom-control.custom-checkbox
			input#available-sunday.custom-control-input(
				type="checkbox" 
				value="sunday" 
				name="available[]"
				checked=(submission['available'].includes('sunday'))
			)
			label.custom-control-label(for="available-sunday") Sunday, September 2nd
	.form-group
		.custom-control.custom-checkbox
			input#available-monday.custom-control-input(
				type="checkbox" 
				value="monday" 
				name="available[]"
				checked=(submission['available'].includes('monday'))
			)
			label.custom-control-label(for="available-monday") Monday, September 3rd
	
	h4 Conflicts
	p To prevent scheduling conflicts, what are the other acts your members are submitting for?
	#conflicts
		- conflicts = conflicts || []
		for conflict in conflicts
			.row.conflict-item
				.col-sm-6
					.form-group
						label.col-form-label.required-field Act Name
						input.form-control(type="text" required name="conflict-act[]" maxlength="280" value=conflict.act)
				.col-sm-6
					.form-group.text-right
						label.col-form-label.required-field Person(s) with Conflict
						input.form-control(type="text" required name="conflict-person[]" maxlength="280" value=conflict.person)
			.form-group
				button.remove-conflict-button.btn.btn-danger(type="button") Remove
	.form-group
		button#add-conflict-button.btn.btn-secondary(type="button") Add Conflict

	script#conflict-template(type="text/x-template")
		.conflict-item
			.row
				.col-sm-6
					.form-group
						label.col-form-label.required-field Act Name
						input.form-control(type="text" required name="conflict-act[]" maxlength="280")
				.col-sm-6
					.form-group
						label.col-form-label.required-field Person(s) with Conflict
						input.form-control(type="text" required name="conflict-person[]" maxlength="280")
			.form-group.text-right
				button.remove-conflict-button.btn.btn-danger(type="button") Remove
			hr
	
	script.
		var conflictTemplate = $("#conflict-template").html()
		$("#add-conflict-button").click(function() {
			$("#conflicts").append(conflictTemplate)
		})
		$("#conflicts").on('click', '.remove-conflict-button', function() {
			$(this).closest(".conflict-item").remove()
		})