.box-block.box-bt
	h3 Performance Requirements
	h4 Set Length
	.form-group
		label.col-form-label.required-field(for="minimum-show-length") What is the shortest set you'd be willing to do for the festival? 
		.row
			.col-4
				.input-group
					input#minimum-show-length.form-control(type="number" min="0" max="2400" name="minimum-show-length" value=submission['minimum-show-length'] || 5)
					.input-group-append
						span.input-group-text minutes

	.form-group
		label.col-form-label.required-field(for="maximum-show-length") What's the longest you would be able to perform for? 
		.row
			.col-4
				.input-group
					input#maximum-show-length.form-control(type="number" min="0" max="2400" name="maximum-show-length" value=submission['maximum-show-length'] || 60)
					.input-group-append
						span.input-group-text minutes
	h4 Special Requirements  
		small (Improv &amp; Sketch Only)
	.form-group
		label.col-form-label(for="special-needs") What are the essential requirements you'll need from us for your act? Examples include video projection, sound effects, props (that you can't bring yourself) furniture and equipment. Be specific. 
		textarea#special-needs.form-control(maxlength="1500" name="special-needs")=submission['special-needs']
	.form-group
		.custom-control.custom-checkbox
			input#no-food.custom-control-input(
				type="checkbox" 
				value="true" 
				name="no-food"
				checked=(submission['no-food'])
			)
			label.custom-control-label(for="no-food") I promise our show does not include food, liquid or anything else that will create a mess on stage.