extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title 
				a.text-muted(href="/users") Users
				|  /
				| Edit User

	.dash-boxes.container
		.row.justify-content-center
			.col-6
				form.box.box-b.box-block(method="POST" action="/users/edit/"+editUser._id)
					.form-group
						label.col-form-label(for="username") Username
						input#username.form-control(name="username" value=editUser.username)
					.form-group
						label.col-form-label(for="email") Email
						input#email.form-control(name="email" value=editUser.email)
					p Roles
					.form-check
						input#admin-role-checkbox.form-check-input.input(
							type="checkbox" 
							name="roles" 
							value="admin" 
							checked=editUser.roles.includes('admin')
						)
						label.form-check-label(for="admin-role-checkbox") Admin

					.form-check
						input#staff-role-checkbox.form-check-input.input(
							type="checkbox" 
							name="roles" 
							value="staff" 
							checked=editUser.roles.includes('staff')
						)
						label.form-check-label(for="staff-role-checkbox") Staff

					.form-check
						input#schedule-role-checkbox.form-check-input.input(
							type="checkbox" 
							name="roles" 
							value="schedule"
							checked=editUser.roles.includes('schedule')
						)
						label.form-check-label(for="schedule-role-checkbox") Schedule

					.form-check
						input#panelist-role-checkbox.form-check-input.input(
							type="checkbox" 
							name="roles" 
							value="panelist"
							checked=editUser.roles.includes('panelist')
						)
						label.form-check-label(for="panelist-role-checkbox") Panelist
					.form-check
						input#standup-panelist-role-checkbox.form-check-input.input(
							type="checkbox" 
							name="roles" 
							value="standup-panelist"
							checked=editUser.roles.includes('standup-panelist')
						)
						label.form-check-label(for="standup-panelist-role-checkbox") Standup Panelist

					hr
					.text-right
						button#add-user-button.btn.btn-primary(type="submit") Save